<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekend?</title>
</head>
<body>
    <h1><%= title %></h1>
    <h4>Current seconds : <%= seconds %></h4>
    <% if (seconds % 2 === 0){ %>
        <ul> <strong>Fruits!</strong>
        <%items.forEach((fruits)=>{%>
        <li>
             <%= fruits %>
        </li>
        <% }) %>
    </ul>
     
    <%} else { %>
        <p>No items to display</p>
        <%}%>
<%- htmlContent %>
<%- include("footer.ejs")%>

</body>
</html>